/* You can add global styles to this file, and also import other style files */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box,
}

body{
    font-family: Arial, Helvetica, sans-serif;
}